nav li {
    display: inline-block;
    margin: 0 0 0 15px;
   }

#myPhoto{
    width: 15%;
    float: right;
}

#myText{
    position: relative;
}

#about{
    display: inline-block;
    width: 100%;
}
  




table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }