#navbar li {
    display: inline-block;
    margin: 0 0 0 50px;
    justify-content: center;
   }

#navbar{
  text-align: center;
  align-items: center;
  background-color: rgba(70, 69, 141, 1);
  height: 40px;
}
a{
  color: white;
}
#myPhoto{
    width: 15%;
    float: right;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#about{
    width: 100%;
    display: flex;   
    justify-content: center;
    background-color: rgba(40, 39, 129, 1);
}

.aboutTopic{
  margin-right: 18%;
  text-align: center;
  width: 500px;
}

#home{
  text-align: center; 
}

#schoolConteud{
  width: 100%;
  display: flex;   
  justify-content: space-around;
  margin-top: 1%;
}

#schoolTitle{
text-align: center;
color: black;
}

p, li, h1, h2{
  color: white;
}

#tecnic{
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(31, 31, 37, 1);
  padding: 20px;
}

#university{
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(31, 31, 37, 1);
  padding: 20px;
}

#workTitle{
  color: black;
  text-align: center;
}

#workConteud{
  color: black;
  display: flex;
  justify-content: space-around;
}

#eptv{
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(31, 31, 37, 1);
  padding: 20px;
  width: 300px;
}

#juventude{
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(31, 31, 37, 1);
  padding: 20px;
  width: 300px;
}

#ciandt{
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(31, 31, 37, 1);
  padding: 20px;
  width: 300px;
}

#work{
  background-color: rgba(40, 39, 129, 1);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }